USE [PAID_PROJECT_02_DB]
GO
/****** Object:  Table [dbo].[Sch_Attendance]    Script Date: 27/09/2025 7:11:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sch_Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[ClassId] [int] NULL,
	[AttendanceDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[Deleted] [bit] NULL,
	[Active] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sch_Classes]    Script Date: 27/09/2025 7:11:56 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sch_Classes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[StudentId] [int] NULL,
	[EnrollmentDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sch_Courses]    Script Date: 27/09/2025 7:11:56 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sch_Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NULL,
	[CourseName] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Credits] [int] NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sch_Departments]    Script Date: 27/09/2025 7:11:56 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sch_Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[DepartmentName] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Deleted] [bit] NULL,
	[Active] [bit] NULL,
	[RecordTimeStamp] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sch_Inventory]    Script Date: 27/09/2025 7:11:56 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sch_Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceId] [int] NULL,
	[ResourceName] [nvarchar](50) NULL,
	[InStock] [bit] NULL,
	[Quantity] [int] NULL,
	[Rack] [nvarchar](50) NULL,
	[Shelf] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[Deleted] [bit] NULL,
	[Active] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sch_Students]    Script Date: 27/09/2025 7:11:56 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sch_Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Student_Id] [nvarchar](50) NULL,
	[Student_Name] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nchar](10) NULL,
	[Country] [nchar](10) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Mobile] [nvarchar](20) NULL,
	[Enrollment_Date] [date] NOT NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sch_Textbooks]    Script Date: 27/09/2025 7:11:56 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sch_Textbooks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[ISBN] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[Deleted] [bit] NULL,
	[Active] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sch_Attendance] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Sch_Attendance] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Sch_Attendance] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sch_Attendance] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Sch_Classes] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sch_Classes] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Sch_Courses] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Sch_Courses] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Sch_Courses] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sch_Courses] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Sch_Departments] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Sch_Departments] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Sch_Departments] ADD  DEFAULT (getdate()) FOR [RecordTimeStamp]
GO
ALTER TABLE [dbo].[Sch_Departments] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sch_Departments] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Sch_Inventory] ADD  DEFAULT ((1)) FOR [InStock]
GO
ALTER TABLE [dbo].[Sch_Inventory] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Sch_Inventory] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Sch_Inventory] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sch_Inventory] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Sch_Students] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Sch_Students] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Sch_Textbooks] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Sch_Textbooks] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Sch_Textbooks] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sch_Textbooks] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Sch_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Sch_Classes] ([Id])
GO
ALTER TABLE [dbo].[Sch_Attendance] CHECK CONSTRAINT [FK_Attendance_Class]
GO
ALTER TABLE [dbo].[Sch_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Sch_Students] ([Id])
GO
ALTER TABLE [dbo].[Sch_Attendance] CHECK CONSTRAINT [FK_Attendance_Student]
GO
ALTER TABLE [dbo].[Sch_Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Sch_Courses] ([Id])
GO
ALTER TABLE [dbo].[Sch_Classes] CHECK CONSTRAINT [FK_Classes_Course]
GO
ALTER TABLE [dbo].[Sch_Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Sch_Students] ([Id])
GO
ALTER TABLE [dbo].[Sch_Classes] CHECK CONSTRAINT [FK_Classes_Student]
GO
ALTER TABLE [dbo].[Sch_Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Sch_Departments] ([Id])
GO
ALTER TABLE [dbo].[Sch_Courses] CHECK CONSTRAINT [FK_Courses_Department]
GO
ALTER TABLE [dbo].[Sch_Textbooks]  WITH CHECK ADD  CONSTRAINT [FK_Textbooks_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Sch_Courses] ([Id])
GO
ALTER TABLE [dbo].[Sch_Textbooks] CHECK CONSTRAINT [FK_Textbooks_Course]
GO
